:root {
  --heading-color: #16213e;
  --black-color: #313131;
  --white-color: #fff;
  --text-color: #999;
  --primary-color: #cc005f;
  --secondary-color: #6a5af9;
  --bg-color: #fff;
  --bg-smoke-color: #f7ecde;
}

[data-theme="dark"] {
  --heading-color: #6a5af9;
  --black-color: #fff;
  --white-color: #313131;
  --text-color: #bf9742;
  --bg-color: #313131;
  --bg-smoke-color: #cfd2cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Caveat", cursive;
  font-weight: 600;
  line-height: 1.8rem;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.inner-space {
  padding: 120px 0;
  text-align: center;
}

.content-space {
  margin: 50px 0;
}

.section-intro h5 {
  color: var(--primary-color);
  font-size: 3.2rem;
  text-transform: uppercase;
}

.section-intro h2 {
  color: var(--heading-color);
  font-size: 5.6rem;
}

.section-heading-title {
  margin: 50px 0;
  color: var(--primary-color);
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.item-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.item-text {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  line-height: 2.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--black-color);
  margin-top: 10px;
}
