/* ---------- Header ---------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: var(--white-color);
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__logo {
  color: var(--primary-color);
  transition: 0.3s ease;
}

.header__logo:hover {
  font-size: 7.2rem;
  color: var(--secondary-color);
}

.header__nav-link:hover {
  font-size: 7.2rem;
  color: #377d71;
}

.header__nav-item {
  color: var(--text-color);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  right: 10px;
  z-index: 1000;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.theme-switch input {
  display: none;
}
.slider {
  background-color: #999;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
input:checked + .slider {
  background-color: #eee;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* ---------- Intro ---------- */
.intro {
  background-image: url(/assets/img/portfolio/p3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  text-shadow: 2px 2px var(--black-color);
}

.intro::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  min-height: 100%;
  width: 100%;
}

.intro__content {
  position: relative;
  z-index: 10;
  height: 100vh;
  color: var(--white-color);
}

.intro__welcome {
  font-size: 4.8rem;
}

.intro__title {
  font-size: 7.2rem;
}

.intro__title span {
  color: var(--primary-color);
}

button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
  display: none !important;
}
.intro__btn {
  color: var(--white-color);
  border-color: rgba(255, 255, 255, 0.3);
  height: 6rem;
  line-height: 5.4rem;
  padding: 0 3.5rem 0 3rem;
  margin-top: 0.6rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  background-color: var(--black-color);
  transition: 0.3s ease-out;
}

.intro__btn:hover {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
  padding: 0 4rem 0 3.5rem;
  height: 9rem;
}

/* ---------- About ---------- */
.about {
  background-color: var(--bg-color);
}

.about__info-item {
  padding-top: 30px;
  padding-left: 50px;
}

.about__btn {
  background: var(--black-color);
  color: var(--white-color);
  padding: 1rem 3rem;
  font-size: 2.4rem;
  transition: 0.3s ease;
}

.about__btn:hover {
  opacity: 0.7;
}

/* ---------- Skills ---------- */
.skills {
  background-color: var(--bg-smoke-color);
}

.skills__content-item .card {
  border: 2px solid transparent;
  border-radius: 5px;
  height: 420px;
  padding: 15px;
  transition: 0.3s ease;
}

.skills__content-item .card:hover {
  transform: translateY(-20px);
}

.skills__content-item .card-img-top {
  min-height: 300px;
}

.skills__content-item .card-title {
  padding: 20px 0;
  color: var(--white-color);
  font-size: 2rem;
}

/* ---------- Resume ---------- */
.resume {
  background-color: var(--bg-color);
}
.resume__content {
  position: relative;
}

.resume__content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 38%;
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--text-color);
}

.resume__timeline-block {
  position: relative;
}
.resume__timeline-header {
  float: left;
  width: 35%;
}

.resume__timeline-icon {
  width: 60px;
  height: 60px;
  background-image: linear-gradient(
    to right bottom,
    var(--secondary-color),
    var(--primary-color)
  );
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 35%;
  top: 1rem;
}

.resume__timeline-content {
  margin-left: 35%;
  padding-left: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--black-color);
}

.resume__timeline-content h4 {
  font-size: 2.4rem;
  color: #3ab4f2;
  margin: 50px 0 20px;
  padding-bottom: 20px;
  position: relative;
}

.resume__timeline-content h4::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--text-color);
}

.resume__timeline-content li {
  list-style-type: disc;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.resume__timeline-content p {
  margin: 20px 0;
  line-height: 3rem;
}

.resume__timeline-img {
  width: 100%;
  height: 100%;
  background-color: #191a28;
  border-radius: inherit;
}

/* ---------- Portfolio ---------- */
.portfolio {
  background-color: var(--bg-smoke-color);
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.swiper-wrapper {
  padding-left: initial;
  margin: 0;
}

.swiper-slide {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
}

.swiper-pagination {
  display: none;
}

.articles__img {
  border: 3px solid var(--secondary-color);
}

/* ---------- Contact ---------- */
.contact {
  background-color: var(--bg-color);
}
.contact__content i {
  padding: 30px 0;
  font-size: 3.6rem;
}

.contact__content h4 {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

.contact__content p:hover {
  color: var(--secondary-color);
  font-size: 2.4rem;
  transition: 0.3s ease;
}
